{% extends "layout.html" %}
{% block body %}
  {% if g.user %}
    <h3> Your Twitter Panel </h3>
    <form action="{{ url_for('tweet') }}"  method=post>
        <input type=text name=tweet size=50, placeholder="Tweet here">
        <input type=submit value="Tweet">
    </form>
    <form method="POST" action="/results">
      <input name ="search_input" size="50" type="text" placeholder="Search other user">
      <input type="submit" value="Search">
    </form>
    {% if tweets %}
    <h3>Your Timeline</h3>
    <ul>
    {% for tweet in tweets %}
      <li><a href="http://twitter.com/{{ tweet.user.screen_name
        }}">{{ tweet.user.screen_name }}</a>: {{ tweet.text|urlize }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    <h3> Your Generated Tweet </h3>
    <div class="generated">
    <div class="center">
    {% if mkv %}

      {{ mkv }} 
      
    {% else %}
      Tweet could not be generated. Try tweeting more for the app to work.
    {% endif %}
    </div>
    </div>

    {% if prev_t %}
      <h3> Total Unique Tweets This Session</h3>
      <ul>
      {% for tweet in prev_t %}
      <li>
        {{ tweet }}
      </li>
      {% endfor %}
      </ul>
    {% endif %}

  {% else %}

    <p>
      Try ⟅ Post Like Me ⟆
    </p>

    <!-- <h3> A First Look </h3> -->
    <img id="example" src="{{url_for('static', filename='SS.png') }}"></img>

    <p>
      <a href="{{ url_for('login') }}"><img src="{{
        url_for('static', filename='sign-in.png') }}" alt="sign in"></a>
    </p>
  {% endif %}
{% endblock %}
