{% extends "layout.html" %}
{% block body %}
  {% if g.user %}
    {% if tweets %}
    <script type="text/javascript">
          var words_in_tweets = {{words_in_tweets|safe}};
          var word_frequency = {{word_frequency|tojson|safe}};
          var number_of_words = {{number_of_words}};
          var largest_occurence = {{largest_occurence}}
    </script>
    <h3>Timeline</h3>
    <ul>
    {% for tweet in tweets %}
      <li><a href="http://twitter.com/{{ tweet.user.screen_name
        }}">{{ tweet.user.screen_name }}</a>: {{ tweet.text|urlize }}</li>
    {% endfor %}
    </ul>
    {% endif %}
   <h3>Generated Tweet </h3>
    <div class="generated">
    <div class="center">
    {% if mkv %}
      {{ mkv }}
      <div class="wordcloud-container"> 
      <h3 style="text-align=center;">{{user}}'s Word Cloud </h3>
      </div>
      <script src="{{ url_for('static', filename='js/wordcloudbundle.js') }}"></script>
	{% else %}
      Tweet could not be generated. This user may not have enough tweets.
    {% endif %} 
    </div>
    </div>
  {% else %}

    <p>
      Sign in here.
    </p>
    <p>
      <a href="{{ url_for('login') }}"><img src="{{
        url_for('static', filename='sign-in.png') }}" alt="sign in"></a>
    </p>
  {% endif %}
{% endblock %}

